<div class="bnt_edit_container">
    <a href="/note/<%= post._id %>/edit">
    <div class="dropdown" style="padding: 0; margin: 0;">
        <div style="cursor: pointer; position: relative; padding: 0 5px; outline: none; width: 30px; text-align: center; height: 27px; margin-top: 7px;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="bnt_more_icon icon-color octicon-kebab-horizontal" version="1.1" id="Capa_1" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 528.899 528.899" xml:space="preserve"><g><path d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z"</g></svg>
        </div>
    </div>
    </a>
</div>

<div class="bnt_more_container">
    <div class="dropdown" style="padding: 0; margin: 0;">
        <div class="bnt_to_dropdown">
            <p><svg aria-label="Show options" class="bnt_more_icon icon-color octicon-kebab-horizontal" viewBox="0 0 13 16" version="1.1" width="13" height="16" role="img"><path fill-rule="evenodd" d="M1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm5 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM13 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path></svg></p>
        </div>
        <div id="dropdown_content">
            <ul id="dropdown_list">
                <li><a href="/note/<%= post._id %>">Detail</a></li>
                <li><a href="/note/<%= post._id %>/raw">Raw</a></li>
                <li onclick="copy('/note/<%= post._id %>')"><a>Copy link</a></li>
                <hr style="margin: 4px 0;">
                <li><a href="/note/<%= post._id %>/edit">Edit</a></li>
                <li><a href="/note/<%= post._id %>/toggleHide">Toggle Hide</a></li>
                <li><a href="/note/<%= post._id %>/toggleArchive">Toggle Archive</a></li>
                <li><a href="/note/<%= post._id %>/toggleTop">Toggle Top</a></li>
                <li><a href="/note/<%= post._id %>/remove">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
