<div class="markdown-status-bar" >
    <%var now = new Date(); thisyear=now.getFullYear();%>
    <div class="status-bar-date"><span><%= post.mydate %></span> · <div class="status-label"> <a href="/notes/tag/<%= post.tag%>" style="color: <%= color%> !important;" ><%= post.tag%></a></div></div>
    <div style="width: 100px; margin: auto auto auto auto; display: flex;">
        <% if (post.hide === true) { -%>
          <%- include('icon-hide') %>
        <% } if (post.archive === true) { -%>
          <%- include('icon-archive') %>
        <% } if (post.top === true) { -%>
          <%- include('icon-top') %>
        <% } -%>
    </div>
</div>
