<% if (user && user._id == post.author._id) { -%>
    <div class="dairy">
      <div class="dairy-date">
        <div class="date">
          <% var date = post.postdate.split(" "); %>
          <p class="datem"><%= date[2] %></p>
          <p class="dated"> <span style="padding-top: 5px; display: block;"> <%= date[0] %>  <%= date[1] %> </span></p>
        </div>
      </div>
      <div class="dairy-p markdown-body" >
        <%- include('icons-status_bar', { post: post, date: date}) %>
        <% if (isdetailpage) { -%>
          <%- include('bnt_more', { post: post, isdetailpage: true}) %>
        <% } else { -%>
          <%- include('bnt_more', { post: post, isdetailpage: false}) %>
        <% } -%>
        <div class="markdown-content">
          <% if (post.isblog) { -%>
            <h1 style="margin: 15px 40px 10px; text-align: center; border-bottom: none; font-size: 1.2em;"><%- post.title%></h1>
            <a href="/note/<%= post._id%>" target="_blank">
            <%- include('icon-blog') %>
            </a>
            <div style="height: 20px;"></div>
          <% } -%>
          <%- post.content%>
        </div>
      </div>
    </div>
<% } else { -%>
    <% if (post.hide != true) { -%>
        <div class="dairy">
          <div class="dairy-date">
            <div class="date">
              <% var date = post.postdate.split(" "); %>
              <p class="datem"><%= date[2] %></p>
              <p class="dated"> <span style="padding-top: 5px; display: block;"> <%= date[0] %>  <%= date[1] %> </span></p>
            </div>
          </div>
          <div class="dairy-p markdown-body" >
            <%- include('icons-status_bar', { post: post, date: date}) %>
            <div class="markdown-content">
              <% if (post.isblog) { -%>
                <h1 style="margin: 15px 40px 10px; text-align: center; border-bottom: none; font-size: 1.2em;"><%- post.title%></h1>
                <a href="/note/<%= post._id%>" target="_blank">
                <%- include('icon-blog') %>
                </a>
                <div style="height: 20px;"></div>
              <% } -%>
              <%- post.content%>
            </div>
          </div>
        </div>
    <% } -%>
<% } -%>
