<%- include('header')%>

<% if (user) { -%>
	<% var avatar = '/img/' + user.avatar; name=user.name%>
<% } else if (posts.length > 0) { -%>
	<% var avatar = '/img/' + posts[0].author.avatar; name=posts[0].author.name%>
<% } else { -%>
	<% var avatar = 'https://yyrcd-1256568788.cos.na-siliconvalley.myqcloud.com/yyrcd/2019-06-13-note-icon.png'; name='username'%>
<% }-%>

<header id="header">
	  <div class="circle-container">
	    <a style="color: transparent" href="/blogs">
		<div class="circle" style="background: none; border: none;">
			<img src="<%= avatar %>" style="width: 80px;border-radius: 40px;">
  		</div>
	    </a>
	  </div>
</header>
<div class="header-tag">
	<p> <%= name%> </p>
</div>

<div blog_item_container style="margin-top: 40px;">
<% for(var i=0; i < posts.length; i++) { %>
	<% if(i>0 && posts[i].top == false){ %>
		<% var thisyear = Number(posts[i].postdate.split(" ")[2]); %>
		<% var lastyear = Number(posts[i-1].postdate.split(" ")[2]); %>
		<% if(lastyear - thisyear>=1){ %>
			<div class="year-cut">
			    <p><%= thisyear %></p>
			</div>
		<% } %>
	<% } %>

	<%- include('components/blog-item', { post: posts[i]}) %>
<% } %>
</div>

<%- include('footer') %>