<%- include('header')%>

<script src="/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/js/codemirror/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="/js/codemirror/theme/monokai.css">
<script src="/js/codemirror/mode/markdown/markdown.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/addon/edit/continuelist.js"></script>
<script src="/js/codemirror/addon/edit/indentlist.js"></script>

<header id="header">
    <div class="circle-container">
      <a style="color: transparent" href="/notes">
    <div class="circle" style="background: none; border: none;">
      <% if (user) { -%>
        <% var avatar = user.avatar; name=user.name%>
      <% } else { -%>
        <% var avatar = posts[0].author.avatar; name=posts[0].author.name%>
      <% } -%>
      <img src=" /img/<%= avatar %>" style="width: 80px;border-radius: 40px;">
      </div>
      </a>
    </div>
</header>
<div class="header-tag">
  <p> <%= name%> </p>
</div>

<div class="dairy">
  <div class="dairy-date" style="margin: 20px 0;">
      <a class="avatar" href="/notes?author=<%= user._id %>">
        <img class="avatar" src="/img/<%= user.avatar %>">
      </a>
  </div>
  <div class="dairy-p markdown-body" >
    <div class="markdown-status-bar">
        <span style="margin: auto auto auto auto;"> </span>
    </div>
    <div class="markdown-content">

      <form class="create-form" method="post" id="form">

          <div class="form-item">
              <div class="post-tag-create">
                  <% for(var i=0; i < post.tags.length; i++) { %>
                    <% if (post.tags[i] == post.tag) { -%>
                      <% var check = true; %>
                    <% } else { -%>
                      <% var check = false; %>
                    <% } -%>
                    <%- include('components/create_tags', { tag: post.tags[i], check: check}) %>
                  <% } %>
              </div>
          </div>
          <div class="form-item">
            <div style="display: inline-block; height: 48px; width: 100%;">
              <input class="markdown-button" type=button value="Preview" id="preview-bnt">
            </div>
              <div style="min-height: 320px; height: fit-content;">
              <textarea name="content" rows="15" id="input-content" oninput="textarea_auto_grow(this)" style="display: none; min-height: 320px; height: inherit;"><%= post.content %></textarea>
              <div class="markdown-content" style="height: inherit; overflow-y: scroll; display: none; padding-bottom: 0; min-height: 320px; padding-left: 20px; border: 1px solid rgb(79, 76, 76);" id="markdown-preview">
              </div>
              </div>
          </div>
          <div class="form-item" style="display: flex; margin: 20px 0">
              <input class="more-setting-button" type=button value="More Setting">
              <input type=button class="create-bnt-cancel" value="Cancel" onclick="window.history.go(-1); return false;">
              <input type="submit" class="create-bnt-submit" value="Submit" id="input-submit">
          </div>
          <div class="more-setting" style="display: none;">
              <div style="display: flex;">
                <div class="form-item" style="width: 45%; margin: 0 auto 6px 0;">
                  <div class="post-tag-create">
                    Blog &nbsp &nbsp <input id="is_blog" style="margin-left: 3px;" type="checkbox" name="isblog" <%= post.isblog ? "checked" : "" %>  />
                  </div>
                </div>
                <div class="form-item" style="width: 45%; margin: 0 0 0 auto;" >
                    <input class="markdown-button" style="margin: 0!important; width: 100%;" type=button value="Generate Title" id="auto-generate-title">
                </div>
              </div>
              <div class="form-item">
                <label style="padding-top: 10px">Title</label>
                <input id="input-title" class="input-bar" name="title" value="<%= post.title %>" placeholder="Title">
              </div>
              <div style="display: flex;">
                  <div class="form-item" style="width: 45%; margin: 0 auto 0 0;">
                      <label style="padding-top: 10px">New Tag</label>
                      <input class="input-bar" name="new_tag" value="<%= null %>" >
                  </div>
                  <div class="form-item" style="width: 45%; margin: 0 0 0 auto;" >
                      <label style="padding-top: 10px">Date</label>
                      <input class="input-bar" type="date" name="postdate" value="<%= post.mydate %>">
                  </div>
              </div>
              <div style="display: flex;">
                  <div class="form-item" style="width: 45%; margin: 0 auto 0 0;">
                    <label style="padding-top: 10px">Hide</label>
                      <% if (post.hide) { -%>
                        <div class="post-tag-create">
                          <input type="radio" name="is_hide" value="true" checked>&nbsp True &nbsp &nbsp
                          <input type="radio" name="is_hide" value="false">&nbsp False &nbsp &nbsp
                        </div>
                      <% } else { -%>
                        <div class="post-tag-create">
                          <input type="radio" name="is_hide" value="true">&nbsp True &nbsp &nbsp
                          <input type="radio" name="is_hide" value="false" checked>&nbsp False &nbsp &nbsp
                        </div>
                      <% } -%>
                  </div>
                  <div class="form-item" style="width: 45%; margin: 0 0 0 auto;" >
                    <label style="padding-top: 10px">Top</label>
                      <% if (post.top) { -%>
                        <div class="post-tag-create">
                          <input type="radio" name="is_top" value="true" checked>&nbsp True &nbsp &nbsp
                          <input type="radio" name="is_top" value="false">&nbsp False &nbsp &nbsp
                        </div>
                      <% } else { -%>
                        <div class="post-tag-create">
                          <input type="radio" name="is_top" value="true">&nbsp True &nbsp &nbsp
                          <input type="radio" name="is_top" value="false" checked>&nbsp False &nbsp &nbsp
                        </div>
                      <% } -%>
                  </div>
              </div>
          </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/marked/marked.min.js"></script>
<script src="/js/jquery.are-you-sure.js"></script>
<script type="text/javascript">
  // more_setting_button
  more_setting_button = document.getElementsByClassName("more-setting-button");
  more_setting_button[0].addEventListener("click", function() {
    var content = document.getElementsByClassName("more-setting")[0];
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });

  // auto_gen_title button
  preview_button = document.getElementById("auto-generate-title");
  preview_button.addEventListener("click", function() {
    var title = document.getElementById("input-title");
    var write_content = document.getElementById("input-content");
    var isblog = document.getElementById("is_blog").checked;

    firstline = write_content.value.split('\n')[0];
    t = firstline.replace(/#+\s/g, '');
    t = t.replace(/[~`!@#$&*:]/g, '');
    title.value = t;
  });

  // warning before leave
  $(function() {
    $('form').areYouSure({
        message: 'It looks like you have been editing something. '
               + 'If you leave before saving, your changes will be lost.'});
  });
</script>

<script src="/js/editor.js"></script>
<%- include('footer') %>