<%- include('header')%>

<% if (user) { -%>
	<% var avatar = '/img/' + user.avatar; name=user.name%>
<% } else if (posts.length > 0) { -%>
	<% var avatar = '/img/' + posts[0].author.avatar; name=posts[0].author.name%>
<% } else { -%>
	<% var avatar = '/css/favicon.png'; name='username'%>
<% }-%>

<header id="header">
	  <div class="circle-container">
	    <a style="color: transparent" href="/notes">	
		<div class="circle" style="background: none; border: none;">
			<img src="<%= avatar %>" style="width: 80px;border-radius: 40px;">
  		</div>
	    </a>
	  </div>
</header>
<div class="header-tag">
	<p> <%= name%> </p>
</div>

<div class="tags-container">
	<% var colors =  ['#2172b8', '#724d9e', '#c12680', '#18a39b', '#ed2861', '#f06045', '#f8b739', '#82c545', '#18a39b', '#2172b8', '#c12680', '#ed2861', '#5c71d6', '#5d3191', '#c12680', '#82c545', '#18a39b', '#2172b8', '#5d3191', '#c12680', '#ed2861', '#f06045', '#f8b739', '#82c545', '#18a39b', '#2172b8', '#c12680', '#ed2861', '#5d3191', '#c12680', '#ed2861', '#f06045', '#f8b739', '#82c545', '#18a39b', '#2172b8', '#5d3191', '#c12680', '#ed2861', '#f06045', '#f8b739', '#82c545', '#18a39b', '#2172b8', '#c12680', '#ed2861'] %>
	<% var colors_dim =  ['#102D46', '#341C4F', '#2D081E', '#063B38', '#5E1128', '#5F2419', '#513B12', '#324c1a', '#102D46', '#341C4F', '#2D081E', '#063B38', '#353e6b', '#5F2419', '#513B12', '#324c1a','#102D46', '#341C4F', '#2D081E', '#063B38', '#5E1128', '#5F2419', '#513B12', '#324c1a','#102D46', '#341C4F', '#2D081E', '#063B38', '#5E1128', '#5F2419', '#513B12', '#324c1a','#102D46', '#341C4F', '#2D081E', '#063B38', '#5E1128', '#5F2419', '#513B12', '#324c1a','#102D46', '#341C4F', '#2D081E', '#063B38', '#5E1128', '#5F2419', '#513B12', '#324c1a'] %>
	<% var index = posts.tags.findIndex(function(tag) {return posts.tag === tag}) %>
  <% for(var i=0; i < posts.tags.length; i++) { %>
  	<% if (i == index) { -%>
		<div class="label" style="background-color: <%= colors[i]%>">
			<a href="<%=tag_base%>tag/<%= posts.tags[i]%>"><p><%= posts.tags[i]%></p></a>
		</div>
  	<% } else { -%>
		<div class="label" style="background-color: <%= colors_dim[i]%>">
			<a href="<%=tag_base%>tag/<%= posts.tags[i]%>"><p><%= posts.tags[i]%></p></a>
		</div>
  	<% } -%>

  <% } %>
  <div class="shadow-separator"></div>
</div>

<% for(var i=0; i < posts.length; i++) { %>
	<% if(i>0 && posts[i].top == false){ %>
		<% var thisyear = Number(posts[i].postdate.split(" ")[2]); %>
		<% var lastyear = Number(posts[i-1].postdate.split(" ")[2]); %>
		<% if(lastyear - thisyear>=1){ %>
			<div class="year-cut">
			    <p><%= thisyear %></p>
			</div>
		<% } %>
	<% } %>

	<% var index = posts.tags.findIndex(function(tag) {return tag == posts[i].tag}) %>

	<%- include('components/post-content-wiki_by_tag', { post: posts[i], color: colors[index], isdetailpage: false }) %>
<% } %>

<%- include('footer') %>